*{
  margin: 0;
  padding: 0;
}
.buttons{
  display: block;
  text-align: center;
}
button{
  padding: 5px 20px;
  margin: 10px;
  border-radius: 7px;
  cursor: pointer;
}
p{
  font-size: 40px;
  text-align: center;
}