*{
  margin: 0;
  padding: 0;
}
.container {
  background-color: rgb(176, 227, 210);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  width: 30vw;
  height: 70vh;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  justify-content: space-evenly;
}
.button button{
  padding: 10px 25px;
  margin: 0px 10px;
  border-radius: 10px;
  background-color: peru;
  color: white;
  font-size: 17px;
  border: 2px solid rgb(156, 85, 14);
  cursor: pointer;
}
.increVal{
  font-size: 60px;
  background-color: white;
  background-color: peru;
  width: 100%;
  text-align: center;
}
.button {
  background-color: #e4f8ff;
  width: 100%;
  text-align: center;
}