*{
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
nav{
  display: flex;
  background-color: black;
  align-items: center;
  height: 60px;
}
.active_nav{
  color: lightblue;
}
a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 17px;
}
li{
  list-style: none;
}
.title{
  text-align: center;
  margin: 20px 0px;
  font-size: 3.5rem;
  position: relative;
  z-index: 1;
  color: white;
  margin: 90px 0px 20px 0px;
}
.paragraph{
  text-align: center;
  position: relative;
  z-index: 2;
  color: white;
}
.container{
  width: 100vw;
  height: 100vh;
  background: url("https://source.unsplash.com/1366x760/?nature") no-repeat center center/cover;
  overflow: hidden;
  position: relative;
}
.container::before{
  content: "";
  background-color: black;
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.6;
}
input[type = "text"]{
  font-size: 23px;
  padding: 5px 0px;
  width: 40vw;
  margin: 40px auto;
  display: block;
  text-align: center;
}
img{
  display: block;
  margin: auto;
  border-radius: 10px;
}